/************************ AIRBNB Javascript lint rules ***********************/
// https://github.com/airbnb/javascript/blob/master/linters/.eslintrc
{
  'extends': 'airbnb-base',

  /******************* addendum ************************/
    'rules': {

    /*
     * We disable some AIRBNB rules
     */

    // Too hard
    'strict': 0,
    // Makes javascript code look like C++ ok, but javascript ain't C++
    'object-shorthand': 0,
    // There is a console in the browser
    'no-console': 0,
    // Even C does not enforce this anymore
    'vars-on-top': 0,
    // Too hard when debugging,
    'no-unused-vars': 0,
    // Broken directive. Cannot configure it to avoid .spec.js file...
    'import/no-extraneous-dependencies': 0,

    /*
     * Some additonal restrictions
     */

    // Max number of statements in a function to keep complexity in check
    'max-statements': [2, 25],

    },
    "env": {
      'jasmine': true,
    }
}
